.edit-form {
  width: 100%;

  &__content {
    width: 100%;
  }

  &__line {
    display: grid;
    grid-template-columns: 70% auto auto;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
}
