.task {
  padding: 0 15px 20px;

  &__main-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    width: 100%;
    margin: 20px 0;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__done {
    opacity: 0.5;
    pointer-events: none;
  }

  &__checkbox-done {
    pointer-events: all;
  }

  h2,
  p {
    margin: 5px 0;
    word-break: break-all;
  }
}
