.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #eee;
  background: #fff;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 16px 32px 24px 32px;
  max-height: 90vh;
  width: 85vw;
  overflow-y: scroll;
  z-index: 1;

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
