.content-form-task {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;

  &__line {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    column-gap: 10px;
  }

  &__time {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .MuiOutlinedInput-root,
  .MuiInput-root {
    width: 50%;
  }

  &__datepicker {
    .MuiOutlinedInput-root {
      width: 100%;
    }
  }

  &__work-time {
    width: 30px;
  }
}
